0 * * * * /usr/local/bin/python /app/main.py check > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * /usr/local/bin/python /app/main.py notify > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * /usr/local/bin/python /app/main.py prune > /proc/1/fd/1 2>/proc/1/fd/2
